body { 
    background-image: url("CarBackground2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 100px; 
}

ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: red;
}
ul.navigation li {
	float: left;
	border-right: 1px solid white;
}
ul.navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 98px;
	text-decoration; none;
}
ul.navigation li a:hover:not(.active) {background-color: green;}

ul.navigation li a.active {background-color: red;}


ul.hoursandinfo {
	position:relative;
	top: 0px;
	right: 0px;
	padding: 20px;
	font-family: Arial Black;
}
.carousel-inner > .item > img {
		margin: 0 auto;
		}
		
p { 
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 25px;
	bottom: 50;
			
}
		
footer {
	position: fixed;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	bottom: 0;
	font-size: 17px;
}


 



	
	
